{% extends 'index_base.html' %}
{% load staticfiles %}

{% block title %}Sachin's Blog{% endblock %}
{% block foolter %}sachinlee{% endblock %}

{% block bread %}
    <h2>您现在的位置是：
        <a href="{% url 'index' %}">首页</a>
              >
        <a>个人详情</a>
      </h2>
{% endblock %}

{% block blog_category %}
    {% for category in all_category %}
        <li><a href="{% url 'list_article' category.name %}">{{ category.name }}</a></li>
    {% endfor %}
{% endblock %}

{% block blogs_list %}
    <div class="blogs">
            <img src="{{ MEDIA_URL }}{{ usermsg.image }}">
            <ul>
              <h3>{{ usermsg.name }}</h3>
              <p>{{ usermsg.desc|safe }}</p>
            </ul>
    </div>

{% endblock %}

{% block hot_click %}
    {% for blog in hot_clickblogs %}
        <li><a href="{% url 'article' blog.id %}" target="_blank">{{ blog.title }}</a></li>
    {% endfor %}
{% endblock %}

{% block hot_new %}
    {% for blog in hot_newblogs %}
        <li><a href="{% url 'article' blog.id %}" target="_blank">{{ blog.title }}</a></li>
    {% endfor %}
{% endblock %}

{% block hot_tui %}
    {% for blog in hot_tuiblogs %}
        <li><a href="{% url 'article' blog.id %}" target="_blank">{{ blog.title }}</a></li>
    {% endfor %}
{% endblock %}

{% block user_desc %}
      <p>网名：Sachin</p>
      <p>职业：暂无 </p>
      <p>籍贯：湖北省-襄阳市</p>
      <p>电话：189**********</p>
      <p>邮箱：sachinlee@qq.com</p>
{% endblock %}